.header {
  margin: auto;
  width: 100%;
  height: 50vh;
  display: flex;
  background-image: url("/images/wallpaper-zelda.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  .textWrapper {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    color: #334155;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-10%);
      h1 {
        font-size: 55px;
        text-align: center;
        margin: 0;
      }
      span {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  .imageWrapper {
    flex-grow: 1;
    position: relative;
  }
}

.postWrapper {
  max-width: 750px;
  margin: auto;
  margin-top: 40px;
  height: 200px;
  display: flex;
  background-color: #0f172a;
  border-radius: 30px;
  overflow: hidden;
  .textWrapper {
    margin-top: 5%;
    width: 40%;
    text-align: center;
  }

  .imageWrapper {
    flex-grow: 1;
    position: relative;
  }
}
